RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/([0-9a-zA-Z]*)$ php/?route=$1 [L]

RewriteCond %{ENV:REDIRECT_STATUS} !=200
RewriteRule (.*) docroot/$1 [L]
